<h1>Scrap de vídeos do site: <%= process.env.TARGET_HOST %></h1>
<h3>Clique no botão abaixo para acessar os cursos disponíveis:</h3>
<br/><br/>
<p>
	<a href="/courses" class="btn btn-lg btn-primary">Acessar Cursos</a>
</p>