<h1>Scraping content of: <%= process.env.TARGET_HOST %></h1>
<h3>Click the button below to have access to the courses:</h3>
<br/><br/>
<p>
	<a href="/courses" class="btn btn-lg btn-primary">Courses</a>
</p>